
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
* {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Questrial;
}

table {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

th {
  padding: 10px;
  border-bottom: 1px solid #000;
}

td {
  border-bottom: 1px solid #000;
}